/*****  TAB DE CURSOS  **********/
.navegacion_admin{

    background-color: black;
    padding-left: 50px;
    height:70px;

}

.navegacion_admin a{
    color: white;
    font-size: 17px;
}

.tab_cursos{
    color: white;
    border-bottom: 6px solid white;
    padding-top: 20px;
    height: 100%;
}

/* ------CONTAINER--------*/

.container_cursos{
    height: 100%;
    padding-top: 25px;
}

/* ------AGREGAR CURSO--------*/

.add_curso{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0px gray;
}

.text_crear_curso{
    font-weight: bold;
    font-size: 20px;
}

/* ------CARD--------*/


.title_curso{
    font-weight: bold;
    font-size: 17px;
}

.time_curso{
    font-size: 15px;
}

.average_curso{
    text-align: right;
}

.average_curso span{
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid black;
}

.triangle_curso{
    text-align: right;
}

.add_colaboradores{
    padding-top: 10px;
}
.fa-user-plus{
    padding-right: 5px;
}


/* - CUADRO DESPLEGABLE - */
.card{
    box-shadow: 5px 5px 5px 0px gray;
}


.text_descripcion{
    font-weight: bold;
    font-size: 17px;
}

.description_curso{
    font-size: 15px;
    padding-bottom: 20px;
}

.text_docente{
    font-weight: bold;
    font-size: 17px;
}

.container_foto{
    padding-left: 6px;
}

.info_docente{
    font-weight: bold;
    font-size: 20px;
}

.info_docente span{
    font-weight: normal;
    font-size: 15px;
}

/* - Esta div solo modifica el contenido de la foto - */
.docente_foto{
    border: 2px solid black;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.photo_docente{
    width: 80px;
    height: 80px;
}